*{
    margin: 0;
    padding: 0;
}
html, body{
    background-color: #202030;
    color: #FDFFFC;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
/* header */
header{
    height: 10%;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
a{
    color: #FDFFFC;
    font-size: larger;
    text-decoration: none;
}
.logo-styling{
    height: 100%;
    width: 10%;
}

/* main */
main{
    height: 90%;
}

.main-container{
    display: flex;
    height: 100%;
}

/* frontpage */

.frontpage-informatie-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.rode-tekst{
    color: #FF1B1C;
}
.informatie-frontpage{
    margin-left: 7%;
}
.over-mijzelf-tekst{
    width: 40%;
}

.zelf-foto-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
}
.zelf-foto{
    height: 70%;
    width: 45%  ;
    margin-right: 20%;
}
.zelf-foto-filling{
   position: relative;
    width: 100px;
    height: 100px;
    margin-right: 35%;
    border-radius: 50%;
    background-color: #39304A;
}

/* contact form */

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5%;
    width: 100%;

}

.kleine-boxes{
    height: 10%;
    width: 30%;

}
.grote-box{

}
.submit-knop{

}
